# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
slurm/
# Virtual environment
venv/
.env

# Logs and outputs
logs/
output/
results_archive/

# Checkpoints, caches, and temporary files
*.cache
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Editor and IDE files
.vscode/
.idea/

# Secrets
secrets.sh

# OS files
.DS_Store

gcp-credentials.json
secrets.sh
